* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.similar-titles-container{
    width: 60vw;
    height: 25vh;
    display: flex;
    flex-direction: column;

    p{
        color:white;
        margin:30px;
        font-weight: bold;     

    }
    .list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        list-style-type: none;

        .list-item{
            border-radius: 20px;
            height: 35vh;
            width: 8vw;
            margin: 3px;
            transition: transform .1s;
            
            button{
                border: none;
            }
            &__img{
                border-radius: 3%;
                width: 100%;
                height: 100%;
                transition: transform .1s;
                border:1px solid white;
                opacity: 0.85;



                &:hover{
                    box-shadow: rgba(255, 255, 255, 0.7) 0px 0px 5px 0px, rgba(236, 232, 232, 0.1) 0px 0px 0px 0px, rgba(230, 222, 222, 0.05) 0px 0px 0px 0px inset;
                    transform: scale(1.05);
                    opacity: 1;
                  }
            }
        }
    }
};